<!DOCTYPE html>
{% load socialaccount %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }
        </style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
    
    <html lang="en">
{% include 'login/admin_navbar.html' %}

<body>
    <div class="container"
        style="display: flex; align-items: center; justify-content: space-between; width: 710px; height: 100px; background-color: #f0f0f0; border-radius: 10px; margin-bottom: 20px;">
        <a href="review_reports.html" target="_blank">
        <button
            style="display: flex; align-items: center; justify-content: center; height: 80px; width: 216.66px; padding: 10px; border-radius: 10px; background-color: #ccc; border: 0px;">
            <p style="font-size: 50px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px;">All</p>
        </a><a href="inprogress_reports.html" target="_blank">
        </button>
        <button
            style="display: flex; align-items: center; justify-content: center; height: 80px; width: 216.66px; padding: 10px; border-radius: 10px; background-color: #ccc; border: 0px;">
            <p style="font-size: 50px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px;">Seen</p>
        </button>
    </a>
    <a href="resolved_reports.html" target="_blank">
        <button
            style="display: flex; align-items: center; justify-content: center; height: 80px; width: 216.66px; padding: 10px; border-radius: 10px; background-color: #ccc; border: 0px;">
            <p style="font-size: 50px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px;">Resolved</p>
        </button>
    </a>
    </div>

    {% if user.is_authenticated %}
        {% if user.groups.exists %}
        {% for group in user.groups.all %}
            {% if group.name == 'site admin' %}
                {% endif %}
            {% endfor %}
        {% else %}
            <meta http-equiv="refresh" content="0; url=/userlanding/" />
        {% endif %}
    {% endif %}
    {% for report in reports %}
    <a href="/adminreportview/{{report.pk}}/">
        <div class="container" 
            style="display: flex; align-items: center; justify-content: space-between; width: 710px; height: 400px; background-color: #f0f0f0; padding: 20px; border-radius: 10px; margin-bottom: 20px;">
            
            <div class="inner-square" style="width: 500px; height: 360px; background-color: #ccc; border-radius: 10px;">
                <iframe id="display" src="{{ report.fileLink}}" overflow="hidden" frameborder="0" width="500" height="360" scrolling="yes" style="border-radius: 10px; border: 5px solid blue;"></iframe>
                
            </div>
        
            <div class="buttons" style="display: flex; flex-direction: column; align-items: flex-start;">
                <p style="font-size: 20px; font-weight: 300; color:rgb(45, 45, 45); margin: 0px;">Username:</p>
                <p style="font-size: 20px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px; margin-bottom: 15px;">{{ report.userID }}</p>

                <p style="font-size: 20px; font-weight: 300; color:rgb(45, 45, 45); margin: 0px;">Class Name:</p>
                <p style="font-size: 20px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px; margin-bottom: 15px;">{{ report.className }}</p>

                <p style="font-size: 20px; font-weight: 300; color:rgb(45, 45, 45); margin: 0px;">Professor Name:</p>
                <p style="font-size: 20px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px; margin-bottom: 15px;">{{ report.professorName|capfirst }}
                </p>

                <p style="font-size: 20px; font-weight: 300; color:rgb(45, 45, 45); margin: 0px;">Student Name:</p>
                <p style="font-size: 20px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px; margin-bottom: 15px;">{{ report.studentName|capfirst }}
                </p>

                <p style="font-size: 20px; font-weight: 300; color:rgb(45, 45, 45); margin: 0px;">Rating:</p>
                <p style="font-size: 20px; font-weight: 100; color:rgb(45, 45, 45); margin: 0px;">{{ report.rating|capfirst }}</p>
                <!-- <li><a href="/adminreportview/{{report.pk}}/">View Report #{{ report.pk }}</a></li> -->
            </div>
       
        </div>
    </a>
    {% endfor %}
</body>

</html>
