<!DOCTYPE html>
{% load socialaccount %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<html lang="en">
    <!--navbar from bootstrap-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">Navbar</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!--add link in href-->
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <!--add link in href-->
                <a class="nav-link" href="#">Report</a>
              </li>
              <li class="nav-item">
              </li>
            </ul> <!-- to change based on login status -->
            {% if user.is_authenticated %}
              <a class="nav-link" href="/logout">Logout</a>
            {% else %}
              <a class="nav-link" href="{% provider_login_url 'google' %}" method="oauth2">Login</a>
            {% endif %}
          </div>
        </div>
    </nav>

    <body>
      
        <div class="position-absolute top-50 start-50 translate-middle">

            <form method="post">
              {% csrf_token %}
                <div name="textInputs">
                    <label for="className">Class:</label><br>
                    <input type="text" id="class" name="className"><br>
                    <label for="professorName">Professor:</label><br>
                    <input type="text" id="professor" name="professorName"><br>
                    <label for="studetnName"> Student Name:</label><br>
                    <input type="text" id="student" name="studentName"><br>
                </div>
                <div name="selectRating">
                    <input type="radio" id="positive" name="rating" value="positive">
                    <label for="positive">Positive</label><br>
                    <input type="radio" id="neutral" name="rating" value="neutral">
                    <label for="neutral">Neutral</label><br>
                    <input type="radio" id="negative" name="rating" value="negative">
                    <label for="negative">Negative</label>
                </div>
                <div name="selectWorkType">
                    <input type="checkbox" id="inClass" name="workType" value="inClass">
                    <label for="inClass"> In Class Assignment</label><br>
                    <input type="checkbox" id="project" name="workType" value="project">
                    <label for="project"> Project</label><br>
                    <input type="checkbox" id="groupAssignment" name="workType" value="groupAssignment">
                    <label for="vehicle3"> Group Assignment</label><br>
                </div>
                <div name="fileSubmit">
                    <input type="file" id="fileUpload" name="filename">
                </div>
                <input type="hidden" name="userID" value="{{ user.email }}">
                <input type="submit">

            </form>
            
        </div>
    </body>
</html>