<!DOCTYPE html>
<html lang="en">
{% load socialaccount %}
{% include 'login/user_navbar.html' %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reports</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      @media (max-width: 1400px) {
        .row-cols-md-2 {
          --bs-gutter-x: 1rem;
          --bs-gutter-y: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        
        .row-cols-md-2 > * {
          flex: 0 0 auto;
          width: 660px;
          max-width: 660px;
          margin-bottom: 20px;
        }
      }
  </style>
</head>

<body style="background-color: rgb(224, 122, 95);">
  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for report in reports %}
      <div class="col">
        <div class="card" style="background-color: rgb(242, 204, 143)">
          <div class="card-body">
            <div
              style="width: 100%; height: auto; padding-top: 5px; padding-bottom: 5px; border-radius: 5px; background-color: #f0f0f0; text-align: center; align-items: center; padding-top: 8px; margin-bottom: 20px;">
              You reported <strong>{{ report.studentName.capitalize }}</strong> for their work in <strong>{{report.className }}</strong> taught by <strong>{{ report.professorName.capitalize}}</strong><br>
            </div>

            <div style="width: 100%; height: 250px; margin-bottom: 10px; transform: translateY(-25px);">
              <div
                style="width: 49%; height: 250px; display: inline-block; margin: 3.9px; background-color: #f0f0f0; border-radius: 5px; transform: translateY(-70px);">
                <div style="top: 0; width: 100%; height: 30px; margin-bottom: 3px;">
                  <div style="display: flex; align-items: center;">
                    <p style="font-weight: bold; padding-left: 5px; width: auto;">Work Type: </p>
                    <p style="padding-left: 10px; width: auto;">{{ report.workType.capitalize }}</p>
                  </div>
                </div>
                <div
                  style="width: 90%; height: 5px; border-radius: 3px; background-color: rgb(242, 204, 143); margin: auto;">
                </div>
                <div style="top: 0; width: 100%; height: 30px; margin-bottom: 3px;">
                  <div style="display: flex; align-items: center;">
                    <p style="font-weight: bold; padding-left: 5px; width: 70px;">Status: </p>
                    <p style="width: 200px;">{{ report.status.capitalize }}</p>
                  </div>
                </div>
                <div
                  style="width: 90%; height: 5px; border-radius: 3px; background-color: rgb(242, 204, 143); margin: auto;">
                </div>
                <div style="width: 100%; height: 80px; margin-top: 3px;">
                  <p style="font-weight: bold; padding-left: 5px;">Feedback: </p>
                  <p>{{report.feedback}}</p>
                </div>
              </div>
              <div style="width: 49%; display: inline-block; height: 250px;">
                <div style="height: 100px; transform: translateY(15px);">
                  {% if report.rating.capitalize == "Positive" %}
                  <img style="rotate: 90deg; width: 80px; height: 80px;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhD2a2uzprPRdusoiSCTdrF5I6j5T_nY4FD-PU4e62iy0B77leCdAAiBhAcwa5R_p40HiDPkoX0Q_cBKONCbj3O7tq-lxhO2paTdCivtc2lG9hL_w5aVHxhH6cz5zUnGqAEcpU0kt2cGPVf5V6DmIU9AOHWaQXNCyh7g4cR2GgmxqdJQA1mQHb0pas6ZW8/s334/Screenshot_2024-04-20_at_4.22.10_PM-removebg-preview.png">
                  {% elif report.rating.capitalize == "Negative" %}
                  <img style="width: 80px; height: 80px;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhD2a2uzprPRdusoiSCTdrF5I6j5T_nY4FD-PU4e62iy0B77leCdAAiBhAcwa5R_p40HiDPkoX0Q_cBKONCbj3O7tq-lxhO2paTdCivtc2lG9hL_w5aVHxhH6cz5zUnGqAEcpU0kt2cGPVf5V6DmIU9AOHWaQXNCyh7g4cR2GgmxqdJQA1mQHb0pas6ZW8/s334/Screenshot_2024-04-20_at_4.22.10_PM-removebg-preview.png">
                  {% else %}
                  <img style="rotate: -90deg; width: 80px; height: 80px;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhD2a2uzprPRdusoiSCTdrF5I6j5T_nY4FD-PU4e62iy0B77leCdAAiBhAcwa5R_p40HiDPkoX0Q_cBKONCbj3O7tq-lxhO2paTdCivtc2lG9hL_w5aVHxhH6cz5zUnGqAEcpU0kt2cGPVf5V6DmIU9AOHWaQXNCyh7g4cR2GgmxqdJQA1mQHb0pas6ZW8/s334/Screenshot_2024-04-20_at_4.22.10_PM-removebg-preview.png">
                  {% endif %}

                  {% if report.private %}
                  <img style="width: 110px; height: 110px;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhAzIyj1_OYAFmTj3BUckj9dXwIibMGwLCQsYzr6YKgV1M3FNgXAmOteI0BtQ4Q8opFuJtse9Z6pWpm_WHO3oKlJRVn7lGy-dUj_bZyVAjZtYeDw1AgUh0iuebQHGgOiXMgA77o4x-yoA5pv0I-TJjkgRtlqP4PLxP4xgviSeVRzbQSsIIGrV74AWe-bEg/s499/Screenshot_2024-04-20_at_4.54.16_PM-removebg-preview.png">
                  {% else %}
                  <img style="width: 110px; height: 110px;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhQ52KOYGpyxrFzwPHlPSzPTy4q2_ia3ZY_2lS4V_LeK17q-GsnV2Oz9N4rjo3DFGTUM_tCukP1NdjkxR0WPIboS_Ic7T8ZVEvlTkgB7MTZtWbRNIIe_me9kYRG6v_F_QcUpT-UNkqQs4V_Wt99_eMAHz09cNZwHMcRTsiKtnsHIN8kipt2qKml5YCzfhQ/s499/Screenshot_2024-04-20_at_4.53.59_PM-removebg-preview.png"></img>
                  {% endif %}

                  {% if report.email_prof %}
                  <img style="width: 80px; height: 80px;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiNX84xbjujhq0k_nn7jxNdXbH3oKWv7mIcWS1qeMnd2jXEvVnbjFNaf_IDtTNu_HiWZ5psck04nLQtpUvF9EpieL-SKEAzwE4BVURr-EgSlxM8BtqbFLHacFGj1GQgtHU1FrOAqUmVKRFJ6wuRnGBhtM-6LFfYSHFwfE-3r3e83bhvL_UijC1is6NXWL8/s430/Screenshot_2024-04-20_at_4.25.21_PM-removebg-preview.png">
                  {% else %}
                  <img style="width: 80px; height: 80px;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiLi8glhGxlrEbBO5YRVmS0ijCmryyCYfM-EBCDXSIpmoewulXh7q9T5DLDVZowRRFaktpqRwAUpUhJtWjE2-s3nZ5zu9yDDBWnojEVeBE_Sohi64yG5GYwyrXYReNbF6wE6ZE8FmD9_xcOfGdcL_TmRDSzBSPS67Q4pdwWJG-jD7Lhyphenhyphenus1GnKuVMhmLw0/s500/Screenshot_2024-04-20_at_4.27.50_PM-removebg-preview.png">
                  {% endif %}
                </div>
                <div style="margin-top: 10px; height: 154px; transform: translateY(15px);">
                  <div style="display: flex;">
                    {% if report.status != "Resolved" %}
                    <a href="/editreport/{{report.pk}}/"
                      style="line-height: 150px; font-size: 20px; font-weight: 300; width: 145px; margin-right: 5px; height: 150px; border-radius: 5px; display: inline-block; text-align: center; vertical-align: middle; background-color: rgb(61, 64, 91); text-decoration: none; color: white;">
                      Edit Report
                    </a>
                    {% endif %}
                    <form action="{% url 'login:report_delete' report.id %}" method="post">
                      {% csrf_token %}
                      <input type="submit"
                        style="font-size: 20px; font-weight: 300; width: 145px; height: 150px; background-color: rgb(224, 122, 95); color: white; border: 0px; border-radius: 5px;"
                        value="Delete report">
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div id="ReportDetails{{report.id}}"
              style="display: none; width: 100%; height: 400px; border: 0px; border-radius: 5px; background-color: #f0f0f0">
              <p style="padding-left: 5px; font-weight: bold;">Report: </p>
              <p style="padding-left: 5px;">{{ report.report.capitalize }}</p>
              <iframe id="display{{report.id}}" src="{{report.fileLink}}" overflow="hidden" frameborder="0" width="500"
                height="600" scrolling="yes"></iframe>
            </div>

            <button style="margin-top: 10px; width: 100%; background-color: #f0f0f0; border: 0; border-radius: 5px;"
              onclick="expand('{{report.id}}')">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <p id="ExpandCollapse{{report.id}}"
                  style="color: black; font-size: 16px; font-weight: 500; margin-bottom: 0px;">Expand</p>
                <img id="arrowImage{{report.id}}" style="width: 10px; height: 10px;"
                  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgKGLwTli8VHpuuB3u5LaCu-QTpe72EJve82FaYifyyDP3GXWKXd8GPaE5y-9zWbd8IQ-I1_445V1R6_oiX1GyKQpQ9_GgTvcj4n4AlBYHp5wu8KLcJWAxrXBAEVzaZHllHBxxJg_s5JlSE_gb9PkWqdgH_LC-o540HfhvARpnZdiUeO24sZP5PEOPZerk/s512/arrow.png">
              </div>
            </button>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No reports submitted.</p>
      {% endfor %}
    </div>
  </div>
  <script>
    function expand(reportId) {
      var details = document.getElementById("ReportDetails" + reportId);
      var button = document.getElementById("ExpandCollapse" + reportId);
      var image = document.getElementById("arrowImage" + reportId);

      if (details.style.display === "none" || details.style.display === "") {
        details.style.display = "block";
        button.textContent = "Collapse";
        image.style.transform = "rotate(180deg)";
      } else {
        details.style.display = "none";
        button.textContent = "Expand";
        image.style.transform = "rotate(0deg)";
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      var YourReports = document.getElementById('YourReports');
      var Your = document.getElementById('Your');
      if (YourReports) {
        YourReports.style.backgroundColor = 'rgb(242, 204, 143)';
        Your.style.height = '90px';
        YourReports.style.width = '120px';
        YourReports.style.transform = 'translateY(0px)';
        YourReports.style.borderBottomLeftRadius = '8px';
        YourReports.style.borderBottomRightRadius = '8px';
        Your.style.boxShadow = '0px 6px 10px rgba(0, 0, 0, 0.65)';
        Your.style.borderBottomLeftRadius = '8px';
        Your.style.borderBottomRightRadius = '8px';
      }
    });
  </script>
</body>

</html>