<!DOCTYPE html>
{% load socialaccount %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<html lang="en">
  {% include 'login/user_navbar.html' %}
    <body>
        <!-- <div class="position-absolute top-50 start-50 translate-middle">
            <p class="fs-1 d-flex justify-content-center">You are a user</p>
            <p class="fs-1 d-flex justify-content-center">Email: {{user.email}}</p>
            <p class="fs-1 d-flex justify-content-center">Name: {{user}}</p>
        </div> -->
        <div class="container mt-5">
          <h1 class="mb-4">Submitted Reports</h1>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for report in reports %}
            <div class="col">
              <div class="card" style="background-color: #dbedff;">
                  <div class="card-body">
                <strong>User ID:</strong> {{ report.userID }}<br>
                <strong>Class Name:</strong> {{ report.className }}<br>
                <strong>Professor Name:</strong> {{ report.professorName }}<br>
                <strong>Student Name:</strong> {{ report.studentName }}<br>
                <strong>Rating:</strong> {{ report.rating }}<br>
                <strong>Work Type:</strong> {{ report.workType }}<br>
                <div class="iframe-wrapper" width="500" height="600">
                  <strong>Attached Evidence:</strong>
                  <iframe id="display" src="{{ report.fileLink}}" overflow="hidden" frameborder="0" width="500" height="600" scrolling="yes"></iframe><br>
                </div>
                <strong>Status:</strong> {{ report.get_status_display }}<br>
                <strong>Feedback:</strong> {{ report.feedback }}<br>
                <form action="{% url 'login:report_delete' report.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="Delete report">
              </form>
                  </div></div></div>
            {% empty %}
            <div class="col">
              <div class="card" style="background-color: #dbedff;">
                  <div class="card-body">
                      <p class="card-text">No reports found.</p>
                  </div>
              </div>
          </div>
            {% endfor %}
          </div></div>
    </body>
</html>